.heading{
  text-align: center;
  font-size: 36px;
  line-height: 4px;
  font-weight:bold ;
  padding: 3rem 0;
  background: linear-gradient(to left,#186c46,#009efd,#b645ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
img{
  /* transform: translateX(180px); */
}
