.heading{
  text-align: center;
  font-size: 36px;
  line-height: 4px;
  font-weight:bold ;
  padding: 3rem 0;
  background: linear-gradient(to left,#186c46,#009efd,#b645ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




.flip-card {
  width: 300px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
} 

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transform: rotateY(180deg);
}