/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.heading{
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  width: 100%;
  overflow: hidden;
  font-weight:bold ;
  padding: 5rem 0;
  animation:  text 4s steps(15) infinite alternate;
  background: linear-gradient(to left,#186c46,#009efd,#b645ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-wrap: nowrap;
}

@keyframes text{
  0%{
    width: 0ch;
  }
  50%{
    width: 18ch;
  }
  100%{
    width: 0ch;
  }
}